---
import Base from "../layouts/base.astro";
---

<Base title="You're on the list — Clarity.">
  <main class="max-w-3xl mx-auto mt-40 px-4 text-center">
    <h1 class="text-4xl font-bold mb-4 leading-tight">You're on the list!</h1>
    <p class="mb-4">
      Thanks for signing up for more information on the Clarity. Insight-as-a-Service Support Plan.<br>
      We'll be in touch soon with details, pricing, launch date and more.
    </p>
    <a
      href="/"
      class="inline-block mt-4 text-sm font-medium text-blue-600 dark:text-blue-300 hover:underline transition"
    >
      ← Back to Home
    </a>
  </main>
</Base>
